<div class="container">
  <div class="card">
    <div class="card-header">
      Payment
    </div>
    <div class="card-body">
      <h5 class="card-title">Amount: {{processData.amount}}</h5>
      <h5 class="card-title">Payment Channel: {{processData.paymentChannel}}</h5>
      <h5 class="card-title">Rate Of Interest: {{processData.InterestRate}}</h5>
      <h5 class="card-title">EMI Duration: {{processData.tenure}}</h5>
      <a href="#" class="btn btn-primary" (click)="process()">Pay</a>
    </div>
  </div>
</div>
