table {
  width: 100%;

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-row {
    cursor: pointer;
  }

  td, th {
    width: 25%;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

